.content{
width : 90%;
margin-bottom: 5%;
margin-left: 30%;
}



.box ul li{
	font-size: 15px;
	list-style: none;
}

.btn_area{
	margin-left: 22%;
} 

.msg{
 width : 100px;
 height : 50px;
 font-size : 2.5em;
 margin-left: 1%;
}




#userout, #canclebutt{
	width:10%; background-color: black; color : white;
}

#userout{
	margin-top: 5px;
}
